HTML{
font-family: Arial, Helvetica, sans-serif;

  }
 :root{
  --main-radius:5px;
  --main-padding:5px;
  --blue:blue;
  --lightblue:#00b0ff;


 }
 body{
  background-color: #e6e6e6;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  text-align: center;
  color:var(--blue);

}
.main_window h1{
  color:var(--blue);
  text-align: center;
}
#total{
  color:var(--blue);
  font-size: large ;
}

main p {
  display: flex;
  justify-content: center;
  color:var(--blue);
}
#instructions{
  color:var(--blue);
}
#container{
  padding: 1.5rem;
    border: 10px solid #ececec;
    background-color: #cacdd0;
    border-radius: 5px;
    margin-bottom: 2rem;
}
  



#container ol li{
  color: var(--blue);
  max-width: 70px;
  max-height: 50px;
    
}
   #container ol li:hover {
      background: var(--lightblue);
      cursor: pointer;
      font-size: large;

}
#startgame{
  display: flex;
  flex-direction:row ;
  justify-content: center;
}
#buttons{
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  justify-content: center;
  align-items: center;
}
#HighScore{
  text-align: center;
  height: 50px;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  color: white;
  background-color:var(--lightblue);
  width:170px; 
  margin-top: 50px;
  border-color: var(--lightblue);
 
}
#start-button {
  text-align: center;
  height: 100px;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  color: white;
  background-color:var(--lightblue);
  width:170px;
  margin-top: 50px;
  border-color: var(--lightblue);
}

.show {
  display:block;
}
.hide{
  display: none;
}
.hide li:hover{
  display:none}

#start-button:hover {
  font-size: xx-large;
  width:175px;
  height:105px;
  cursor:pointer;
}
#HighScore:hover{
  font-size: large;
  width:175px;
  height:55px;
  cursor:pointer;
}
.timer{
  position: relative;;
  text-align: center;
  font-size:xx-large;
}
#instructions{
  text-align: left;
  
}
input[type=text]:focus {
  background-color: var(--lightblue);
  border: 3px solid rgb(30, 7, 237);
  color:var(--blue);
  padding: 10px 50px;
  margin: 4px 10px
}

button[type=submit]{
  background-color:var(--lightblue);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration:solid;
  margin: 4px 2px;
  cursor: pointer;
}
 #CheckAnswer{
  color:var(--blue);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
 }

  footer h3 {
  
  color:var(--blue);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
 }